<!DOCTYPE HTML>

<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Generador de informes</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Sofia' rel='stylesheet' type='text/css'>
</head>

<body>
<form action="/save/" method="post">

  <div class="formulario">    
    <h2>Informe</h2>

    {% csrf_token %}
    <label for='empresa'>{{ form.empresa.label }}:</label>
    <p>{{ form.empresa }}</p>
    <label for='fecha'>{{ form.fecha.label }}:</label>
    <p>{{ form.fecha }}</p>
    <label for='accionistas-socios'>Elige accionistas o socios:</label>
    <p>{{ form.accionistas_socios }}</p>
    <label>¿Añadir opinión con salvedades?</label>
    <p>{{ form.salvedades }}</p>
    <label>¿Añadir párrafo de énfasis?</label>
    <p>{{ form.enfasis }}</p> 

    <input type="submit" value="Generar informe" />
  </div>
</form>

</html>
