Django==1.7.10
PyYAML==3.11
decorator==4.0.9
django-admin-bootstrapped==2.4.0
django-bootstrap3==6.2.2
django-extensions==1.5.9
django-rest-swagger==0.3.4
djangorestframework==3.3.1
ipython==4.1.2
ipython-genutils==0.1.0
lxml==3.4.4
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.6
psycopg2==2.6.1
ptyprocess==0.5.1
pydot==1.0.2
pyparsing==1.5.7
python-docx==0.8.5
simplegeneric==0.8.1
six==1.10.0
traitlets==4.1.0
wsgiref==0.1.2
